.artist-page-container {
  width: 975px;
  margin: auto;
  height: 100vh;
  min-height: 900px;
  background: white;
  box-sizing: border-box;
}

.artist-sidebar {
  display: block;
  width: 120px;
  padding: 45px 35px 0 0;
  float: right;
}

.artist-sidebar h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.artist-header-image {
  display: block;
  width: 975px;
  height: 180px;
  overflow: hidden;
}

.album-index-container {
  display: block;
  width: 780px;
  float: left;
  margin: 45px 0 0 40px;
  color: #7e40a3;
  font-weight: bold;
}

.album-index-container li {
  float: left;
}

.album-display-wrapper {
  display: block;
  width: 232px;
  height: 232px;
  margin-right: 28px;
  margin-bottom: 60px;
}

.album-display-wrapper img {
  width: 232px;
  height: 232px;
}

.album-display-wrapper h2 {
  margin-top: 9px;
  margin-bottom: 3px;
}
