.form-content {
  width: 975px;
  margin: auto;
  background: white;
  height: 100vh;
}

.form {
  padding-top: 40px;
  width: 339px;
  margin: auto;
  display: block;
}

.form h2 {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.form label {
  float: right;
}

.form p {
  padding-top: 8px;
  padding-right: 5px;
  float: left;
  font-size: 12px;
}

.form input, textarea {
  width: 260px;
  padding: 5px;
  float: right;
  margin-bottom: 10px;
  border-top: 1px solid #848484;
  border-right: 1px solid #848484;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/*.form .inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}*/

.form button {
  margin-left: 66px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background: #7e40a3;
  font-weight: bold;
  color: white;
}

.alert {
  text-align: right;
  display: block;
  float: right;
  color: red;
  padding-bottom: 10px;
}

.danger {
  font-size: 10px;
  color: red;
  cursor: not-allowed;
}

.form .guest {
  padding: 10px;
  margin-left: 66px;
}

.form textarea {
  height: 150px;
  font-size: 14px;
}

.form a {
  display: block;
  float: right;
  cursor: pointer;
  color: #7e40a3;
}

.band {
  width: 363px;
}

.album {
  width:350px;
}
