.session-form-content {
  width: 975px;
  margin: auto;
  background: white;
}

.session-form {
  padding-top: 40px;
  width: 339px;
  margin: auto;
  display: block;
}

.session-form h2 {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.session-form label {
  float: right;
}

.session-form p {
  padding-top: 8px;
  padding-right: 5px;
  float: left;
  font-size: 12px;
}

.session-form input {
  width: 260px;
  padding: 5px;
  float: right;
  margin-bottom: 10px;
  border-top: 1px solid #848484;
  border-right: 1px solid #848484;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.session-form button {
  margin-left: 66px;
  padding: 10px 20px;
  background: #7e40a3;
  font-weight: bold;
  color: white;
}

.alert {
  text-align: right;
  color: red;
  padding-bottom: 10px;
}
.session-form .guest {
  margin-top: 10px;
  padding: 10px;
  margin-left: 20px;
}
