.nav-container {
  background: #ddd;
  border-top: 5px solid #848484;
  border-bottom: 1px dotted #848484;
}

.navbar {
  width: 975px;
  margin: auto;
}

.logo {
  display: block;
  padding: 15px 10px;
  float: left;
  cursor: pointer;
}

.logo:hover {
  display: block;
  background: #bbb;
}

.logo-doodad {
  display: block;
  float: left;
  width: 0;
  height: 0;
  float: left;
  border: 5px solid transparent;
  border-left: 6px solid #7e40a3;
  border-bottom: 6px solid #7e40a3;
  /*padding-top: 5px;*/
  margin-right: 0;
}

.logo-text {
  vertical-align: middle;
  float: right;
}

.logged-in {
  font-size: 12px;
  position:relative;
  float: right;
  color: #7e40a3;

  .mini-pic {
    // position: absolute;
    box-sizing: border-box;
    // top: 10px;
    // left: -23px;
    float: left;
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid transparent;

    img {
      box-sizing: border-box;
      height: 100%;
    }
  }

  .dropdown-name {
    position: absolute;
    top: 16px;
    left: 47px;
    white-space: nowrap;
  }

  .dropdown-anchor {
    float: right;
    font-weight: bold;
    padding: 9px 11px;
    padding-right: 130px;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
  }

  .dropdown-anchor:hover {
    background: #bbb;
  }

  .dropdown-anchor:hover .mini-pic {
    border: 1px solid white;
  }

  .nav-links {
    display: none;
    float: right;
    position: absolute;
    top: 44px;
    right: 0;
    border-top: 1px dotted #848484;

    li {
      display: block;
      width: 94px;
      float: right;
      padding: 15px 11px;
      padding-bottom: 17px;
      background: #ddd;
      border: 1px solid #848484;
      border-top: 0;
      cursor: pointer;
    }

    li:hover{
      display: block;
      background: #bbb;
    }
  }
}

.logged-in:hover .nav-links{
  display: block;
}
