/* the reset */

input[type=range] {
  -webkit-appearance: none;
  width: 256px;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #848484;
  height: 10px;
  width: 22px;
  background: white;
  cursor: pointer;
  margin-top: -1px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
  box-shadow:inset 0 0 0 1px #848484;
}

.play-btn {
  background: white;
  border: 1px solid #848484;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 50px;
  width: 54px;
}

.play:after {
  content: "";
  display: block;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 20px solid #222;
  margin-top: 14px;
  margin-left: 18px;
}

.pause:after {
  content: "";
  display: block;
  height: 22px;
  width: 4px;
  border-left: 7px solid #222;
  border-right: 7px solid #222;
  margin-top: 14px;
  margin-left: 18px;
}

.seek-container {
  float: right;
  margin-left: 10px;
}

.seek-container p {
  margin-top: 7px;
  margin-bottom: 5px;
}

.button-container {
  float: left;
}

.song-list-container {
  margin-top: 20px;
  margin-left: 16px;
  display: block;
}

.song-list {
  list-style: decimal;

  li {
    margin-bottom: 10px;
  }
}
